@import 'normalize.css';
@import 'variables.css';
@import 'typography.css';
@import 'print.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: var(--font-regular-text-base);
  background: var(--color-background-default);
  color: var(--color-text-default);
  min-height: 100vh;
}

ul:where([class]) {
  list-style: none;
}
